.button {
  background-color: $mute-color;
  border: 1px solid $mute-color;
  color: $white;
  padding: 5px 20px;
  min-height: $input-height;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: $border-radius;
}

.button:hover,.button:focus{
  outline: none;
}
.button:hover{
  -webkit-box-shadow: inset 0px 0px 23px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 23px -6px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 23px -6px rgba(0,0,0,0.75);
}
.button:focus{
  border-color: $accent-color;
}
