$accent-color: #f26030;//#2196F3;

$dark-bg-color: #111111;
$dark-color: #191514;
$mute-color: #252525;//lighten( $dark-color, 20% );

$warning-color: #ff9f1c;
$danger-color: #e54b4b;
$white: #fafffd;
$font-color: $white;
$placeholder-text-color: #565656;

$red: $danger-color;
$green: #87d646;
$blue: #1f81f2;
